@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import "media.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

// === Common ===
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.burger {
  cursor: pointer;
  display: none;
  &-line {
    width: 22px;
    height: 2px;
    background-color: #2d3c63;
    margin-top: 6px;
    display: block;
    border-radius: 4px;
  }
}

body.body {
  overflow: hidden;
}
// === / Common ===

// === Variables ===
$cl-semired: #fd003a;
$cl-red: #e50027;
$cl-blue: #2d3c63;
$cl-dark: #001527;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-dark: 900;
// === / Variables ===

// === Mixin ===
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
// === / Mixin ===

// === Navigation ===

.header {
  padding-top: 10px;
  height: 115px;
  width: 100%;
  background-color: #fff;
  z-index: 100;
  &-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &--navigation {
      list-style: none;

      &__item {
        display: inline-block;
        padding-left: 40px;
        &:first-child {
          padding-left: 0;
        }
        a {
          color: #000;
          text-decoration: none;
          font-size: 15px;
          font-weight: $fw-regular;
          cursor: pointer;
        }
      }
    }
  }
}

// === / Navigation ===

// === News ===

.news {
  position: relative;
  min-height: 100vh;
  margin-top: 50px;
  &-content {
    display: flex;
    position: relative;
    width: 100%;
    margin: 0 auto;

    &--text {
      position: absolute;
      top: 30px;
      width: 60%;
      height: 264px;
      background: #001527;
      color: #fff;
      z-index: 10;

      .container-special {
        max-width: 60%;
        margin: 0 auto;
        padding: 50px 0px;
        line-height: 1;
        h2 {
          font-size: 63px;
          font-weight: $fw-bold;
        }

        p {
          font-weight: $fw-regular;
          font-size: 25px;
          flex-basis: 20%;
          line-height: 1;
          margin-left: 5px;
        }

        h3 {
          font-size: 33px;
          font-weight: $fw-bold;
        }
        .flex {
          display: flex;
          align-items: center;
        }
      }
    }
    &--image {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
// === / News ===

// === About ===
.about {
  position: relative;
  height: 100vh;
  padding-top: 30px;
}

.about-content--title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  &__text {
    flex-basis: 100%;
    font-size: 20px;
    font-size: $fw-regular;
  }
  &__image {
    flex-basis: 40%;
  }
}

.about-content--info {
  h2 {
    font-size: 48px;
    font-weight: $fw-bold;
    color: $cl-blue;
    margin-bottom: 60px;
  }
}

.slider-item {
  width: 367px;
  height: 400px;
  max-width: 90%;
  margin-left: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  &__image {
    img {
      width: 100%;
    }
  }
  &__text {
    padding: 15px 77px 40px 15px;
    label {
      font-size: 14px;
      font-weight: 300;
    }

    p {
      margin-top: 20px;
      font-size: 18px;
      font-weight: $fw-regular;
      line-height: 1.4;
    }
  }
}

.slick-list {
  padding-bottom: 30px;
}
// === / About===

// === Workers ===
.worker {
  padding-top: 20px;
  width: 100%;
  height: 100vh;
  padding-bottom: 200px;

  &-content {
    h2 {
      color: $cl-blue;
      font-size: 48px;
      font-weight: $fw-bold;
      margin-bottom: 20px;
    }

  }
}

.worker-content--element {
  background-image: url('../images/worker-bg.png');
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

.slider-worker {
  min-width: 267px;
  height: 626px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 15px;
  
  &--text {
    padding: 20px 10px 10px 10px;
    text-align: center;
    background-color: #fff;
    height: 326px;
    h4 {
      color: $cl-blue;
      font-size: 22px;
      font-weight: $fw-semibold;
      margin-bottom: 5px;
    }

    p {
      color: #000;
      font-size: 16px;
      font-weight: $fw-regular;

      &:last-child {
        margin-top: 25px;
      }
    }
  }
}

.slider-worker--image {
  height: 300px;
  img {
    width: 100%;
    height: 100%;
  }
}

.slick-slider {
  max-width: 1200px;
  margin: 0 auto;
}
// === / Workers ===