@media (max-width: 1200px) {
  div.event-content--slider {
    margin: 20px;
  }
  div.header-content {
    margin: 0 30px;
  }
  div.stata {
    padding: 20px 30px;
    overflow: hidden;
  }
}

@media (max-width:1050px) {

  div.footer {
    padding: 20px 20px 50px 20px;
  }

  div.footer-content {
    flex-direction: column;
    flex-wrap: nowrap !important;
    text-align: center;
    margin: 0 auto;
  }

  div.footer-content--contacts__item {
    margin: 20px;
  }

  div.last-info {
    text-align: center;
  }

  div.stata-grid--delivery{
    h3 {
      font-size: 24px;
      margin-bottom: 25px;
    }
    b {
      font-size: 40px;
      color: #E50027;
    }
    p {
      font-size: 28px;
    }
  }

  div.stata-grid--item{
    h2 {
      font-size: 40px;
      margin-bottom: 10px;
    }
    b {
      font-size: 26px;
    }
    
    p{
      margin-top: 15px;
      font-size: 15px;
    }
  }
}

@media (max-width: 960px) {

  div.stata-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 50px;
    grid-row-gap: 20px;
  }

  div.stata-grid--image{
    display: none;
  }

  div.stata-grid--delivery{
    hr {
      display: none;
    }
    display: flex !important;
    h3 {
      font-size: 20px;
      margin-bottom: 25px;
      margin-right: 20px;
    }
    b {
      font-size: 34px;
      color: #E50027;
    }
    p {
      font-size: 24px;
      margin-left: 20px;
    }
  }

  div.partners {
    padding-top: -200px;
  }

  div.partners-content--suggest{
    font-size: 20px;
  }
  div.partners-content{
    flex-direction: column;
    margin: -30px 30px 0 30px;
    text-align: center;
  }
  div.partners-content--suggest{
    margin-top: -20px;
    margin-bottom: 30px;
  }


  div.event-content--cover{
    width: 100%;
  }
  div.event-content--slider {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
    max-width: 90%;
  }

  

  div.slider-image {
    min-width: 70%;
    img {
      width: 100%;
    }
  }

  div.slider-text {
    min-width: 70%;
  }
  div.event-content--slider {
    margin-top: 10px;
    div.slider-text {
        h4 {
          font-size: 20px;
          margin-top: 20px;
          margin-bottom: 10px;
        }
      
        p {
          font-size: 16px;
        }
    }
  }

  div.event-content--info {
    margin: 0 20px;
    h2 {
      font-size: 30px;
      margin-bottom: 0;
      margin-bottom: 20px;
    }
    b{
      font-size: 20px;
    }
  }

  div.worker-content{
    h2 {
      font-size: 32px;
    }
  }
  div.about-content {
    margin-top: -30px;
    text-align: center;
  }
  div.about-content--title__image {
    margin-bottom: 25px;
  }

  div.about-content--info {
    h2 {
      font-size: 30px;
      margin-top: 20px;
    }
  }
  div.about-content--title {
    margin: 0 30px;
  }

  div.news-content--image {
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    height: 80vh;
    img:nth-child(1) {
      opacity: 0;
    }
  }

  div.about-content--title {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  div.burger {
    display: block;
  }
  nav.header-content--navigation {
    position: fixed;
    left: -100%;
    top: 115px;
    width: 100%;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    z-index: 1000;
    background-color: #fff;
    padding-top: 100px;
  }
  nav.show {
    left: 0;
  }

  li.header-content--navigation__item {
    display: block;
    text-align: center;
    padding-left: 0;
    margin-bottom: 30px;

    a {
      font-size: 24px;
    }
  }
}

@media (max-width: 690px) {
  div.footer-content--contacts{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 650px) {
  h2#first {
    margin-bottom: 20px !important;
  }

  div.stata-grid--delivery{
    display: none !important;
  }

  div.stata-grid--item{
    span#size {
      font-size: 20px;
    }
    h2 {
      font-size: 30px;
      margin-bottom: 10px;
    }
    b {
      font-size: 20px;
    }
    
    p{
      margin-top: 13px;
      font-size: 15px;
    }
  }

  div.news-content--text {
    height: 200px;
    div.container-special {
      h2 {
        font-size: 32px;
      }

      h3 {
        font-size: 24px;
      }
      p {
        font-size: 20px;
      }
    }
  }
}

@media (max-width: 480px) {

  form.partners-content--form{
    width: 363px;
    margin: 0 30px;
    button {
      margin-top: 40px;
    }
  }


  div.about-content--title__image {
    img {
      width: 80%;
    }
  }

  div.about-content--info {
    h2 {
      font-size: 26px;
    }
  }

  div.about-content--title__text {
    font-size: 16px;
  }
  div.news-content--text {
    height: 180px;
    div.container-special {
      h2 {
        font-size: 28px;
      }

      h3 {
        font-size: 20px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  div.header-content--image {
    img {
      height: 80%;
      width: 80%;
    }
  }
}

@media (max-width: 380px) {
  form.partners-content--form{
    
    text-align: center;
    width: 300px;
    height: 330px;
  }
}
button#btn {
  padding: 10px 50px;
  font-size: 18px;
}

@media (max-width: 300px) {
  div.about-content--info {
    h2 {
      font-size: 23px;
    }
  }
  div.about-content--title {
    margin-top: -60px;
  }
  nav.header-content--navigation {
    a {
      font-size: 18px;
    }
  }
}

// height
@media (max-height: 750px) {
  div.event-content{
    margin-top: 80px;
  }
  div.worker {
    margin-top: 120px;
  }

  div.partners {
    margin-top: 250px;
  }
}
@media (max-height: 660px) {
  div.worker {
    margin-top: 200px;
  }
  div.event-content{
    margin-top: 150px;
  }
  div.partners {
    margin-top: 350px;
  }
}
@media (max-height: 640px) {
  div.worker {
    margin-top: 150px;
  }
}

@media (max-height: 570px) {
  div.event-content{
    margin-top: 180px;
  }
  div.partners {
    margin-top: 550px;
  }
}